version = "2"


[linters-settings.goconst]
min-len = 5
min-occurrences = 5

[linters-settings.revive]
ignore-generated-header = false


[linters]
enable = [
  "bodyclose",
  "dogsled",
  "errcheck",
  "gochecknoinits",
  "goconst",
  "gocritic",
  "goprintffuncname",
  "gosec",
  "govet",
  "ineffassign",
  "misspell",
  "nakedret",
  "rowserrcheck",
  "copyloopvar",
  "staticcheck",
  "unconvert",
  "unused",
  "whitespace",
  "gocyclo",
  "unparam",
  "dogsled",
  "asciicheck",
  "errorlint",
  "sqlclosecheck",
  "thelper",
]
