version: 2
jobs:
  build:
    docker:
      - image: srclosson/grafana-plugin-ci-alpine:latest
    steps:
      - checkout
      - run:
          name: Build
          command: |
            go vet ./...
            golangci-lint run ./...
            revive -formatter stylish -config scripts/configs/revive.toml ./...
            gosec -quiet -exclude=G104,G107,G108,G201,G202,G204,G301,G304,G401,G402,G501 -conf=scripts/configs/gosec.json

            go test ./...
