# Checks if the current update to go.mod is compatible with Grafana.

name: Detect breaking change with Grafana

on:
  pull_request:
    paths:
      - "go.mod"
      - "go.sum"
    branches:
      - "main"

jobs:
  buildPR:
    name: Build PR
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          path: "./grafana-plugin-sdk-go"
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          repository: "grafana/grafana"
          path: "./grafana"
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # 6.2.0
        with:
          cache: false
          go-version-file: "./grafana/go.mod"
          check-latest: true

      - name: Check if branch exists in Grafana
        working-directory: "./grafana"
        env:
          BRANCH: ${{ github.head_ref }}
        run: |
          if git ls-remote --heads --quiet --exit-code origin "$BRANCH"; then
            echo "Found branch $BRANCH in Grafana"
            git fetch origin "$BRANCH" && git checkout "$BRANCH"
          else
            echo "Branch $BRANCH not found in Grafana"
          fi

      - name: Link sdk
        working-directory: "./grafana"
        run: go mod edit -replace github.com/grafana/grafana-plugin-sdk-go=../grafana-plugin-sdk-go

      - name: Build Grafana
        working-directory: "./grafana"
        run: make build-go
