# Checks if the current updates includes incompatible changes compared with latest release.

name: Detect incompatible changes

on:
  pull_request:
    paths:
      - 'go.mod'
      - 'go.sum'
      - '**.go'
    branches:
      - 'main'

jobs:
  main:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
        path: './grafana-plugin-sdk-go'
    - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # 6.1.0
      with:
        cache: false
        check-latest: true
        go-version-file: './grafana-plugin-sdk-go/go.mod'

    - name: Install gorelease
      working-directory: './grafana-plugin-sdk-go'
      run: go install golang.org/x/exp/cmd/gorelease@latest

    - name: Check for incompatible changes
      working-directory: './grafana-plugin-sdk-go'
      run: |
        gorelease | tee /dev/stderr | grep -vzq 'incompatible changes'
