# Checks if the current updates includes incompatible changes compared with latest release.

name: Detect incompatible changes

on:
  pull_request:
    paths:
      - 'go.mod'
      - 'go.sum'
      - '**.go'
    branches:
      - 'main'

jobs:
  main:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      with:
        persist-credentials: false
        path: './grafana-plugin-sdk-go'
    - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # 5.5.0
      with:
        cache: false
        check-latest: true
        go-version-file: './grafana-plugin-sdk-go/go.mod'

    - name: Install gorelease
      working-directory: './grafana-plugin-sdk-go'
      run: go install golang.org/x/exp/cmd/gorelease@latest

    - name: Check for incompatible changes
      working-directory: './grafana-plugin-sdk-go'
      run: |
        gorelease | tee /dev/stderr | grep -vzq 'incompatible changes'
