name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  lint-build-test:
    name: Lint, Build, and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Setup go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # 6.0.0
        with:
          go-version-file: ./go.mod

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
        with:
          version: v2.4.0
          args: |
            "./..." --timeout=7m
          skip-cache: true
          install-mode: binary

      - name: Setup Mage
        uses: magefile/mage-action@6f50bbb8ea47d56e62dee92392788acbc8192d0b # v3
        with:
          install-only: true

      - name: Build
        run: |
          mage -v build

      - name: Install test dependencies
        run: |
          sudo apt update
          sudo apt install -y gcc

      - name: Test
        run: |
          CGO_ENABLED=1 mage -v testRace
