name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  lint-build-test:
    name: Lint, Build, and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - name: Setup go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # 6.1.0
        with:
          go-version-file: ./go.mod

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
        with:
          version: v2.4.0
          args: |
            "./..." --timeout=7m
          skip-cache: true
          install-mode: binary

      - name: Setup Mage
        uses: magefile/mage-action@6f50bbb8ea47d56e62dee92392788acbc8192d0b # v3
        with:
          install-only: true

      - name: Build
        run: |
          mage -v build

      - name: Install test dependencies
        run: |
          sudo apt update
          sudo apt install -y gcc

      - name: Test
        run: |
          CGO_ENABLED=1 mage -v testRace
